 
table, figure {
  page-break-inside: avoid; 
}
	 


header {
 
}

footer {/*
position: fixed; 
bottom: -160px; 
left: 0px; 
right: 0px;
height: 150px; 

 
background-color: #03a9f4;
color: white;
text-align: center;
line-height: 20px;*/
}
#acepto
	width:100%;
	margin-top: 20px;
	td
		text-align: center;
	td.linea
		padding: 20px;
		vertical-align: bottom;

.font-red
	font-weight: bold;
	color: red;		
.page-carta
	 
	p
		font-size: 12px;
		line-height: 2;
		line-stacking-strategy: inline-line-height;
span.numero
	background-color: blue;
	color:#fff;
	font-size: 18px;
	
body
	font-size: 12px;
	
table#detalles
	border solid 1px #000;	
	tr
		td
			border-bottom: solid 1px #333;

.center
	text-align:center;
			