<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/third_party/twitter/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/lib/php-css-parser/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/lib/php-svg-lib/tests/Svg" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/lib/php-font-lib/tests/FontLib" />
        <option value="$PROJECT_DIR$/application/third_party/stripe/tests" />
      </list>
    </option>
  </component>
</project>